*{
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'ubuntu';
}

.head h1{
    font-family: 'ubuntu';
    letter-spacing: 1.6px;
    font-weight: bold;
    font-size: 42px;
    color: blanchedalmond !important;
}
.head p{
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1.1px;
}
.heading1{
    /* font-family: 'ZCOOL QingKe HuangYou'; */
    font-family: ubuntu;
    font-size: 30px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    text-decoration: underline rgb(39, 162, 211) 4px;
}
.popular h1{
    font-family: 'Monoton', cursive;
    word-spacing: 5px;
    width: 65%;
    text-transform: capitalize;
}
.author{
    font-weight: 600;
}
.blog .thumbnailImg{
    width: 100%;
}
.footer h1{
    font-family: 'ZCOOL QingKe HuangYou';
    color: gold;
    color:blanchedalmond;
    letter-spacing: 1.5px;
}
.footer .links a{
    color: black;
    font-weight: bold;
}
.afterFooter p{
    font-size: 12px;
}
.button1{
    background-color: none;
    border: 3px solid black;
    padding: 5% 8%;
    color:rgb(35, 134, 173);
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s;
}
.button1:hover,
.button1:active {
    color:blanchedalmond;
    text-decoration: none;
    background-color: rgb(34, 34, 34);
}

.top{
    background-color: rgba(45, 179, 241, 0.37);
}
.top .logo{
    width: 70px;
    border-radius: 50% ;
}
.top h1{
    font-family: 'ZCOOL QingKe HuangYou';
}
.loader{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    visibility: visible;
    top: 0%;
    position:fixed;
}
.benifits{
    background-color: blanchedalmond;
}
.myfile input{
    padding: 5px; 
    background-color: white !important;
    border: 1px solid rgb(209, 209, 209);
    border-radius:5px;
}
@media screen and (max-width: 600px) {
    .resText{
        font-size: 25px;
    }
    .popular h1{
        width: 100%;
    }
    .quickLinks{
        visibility: hidden;
        display: none;
    }
}