*{
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'ubuntu';
}

.head h1{
    font-family: 'ubuntu';
    letter-spacing: 1.6px;
    font-weight: bold;
    font-size: 42px;
    color: blanchedalmond !important;
}
.head p{
    font-family: 'ubuntu', sans-serif;
    letter-spacing: 1.1px;
}
.heading1{
    /* font-family: 'ZCOOL QingKe HuangYou'; */
    font-family: ubuntu;
    font-size: 30px;
    font-weight: 600;
    color: rgb(34, 34, 34);
    text-decoration: underline rgb(39, 162, 211) 4px;
}
.heading2{
    /* font-family: 'ZCOOL QingKe HuangYou'; */
    font-family: ubuntu;
    font-size: 25px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}
.popular h1{
    font-family: 'Monoton';
    /* background-color: red; */
    word-spacing: 5px;
    width: 65%;
    text-transform: capitalize;
}
.author{
    font-weight: 600;
}
.blog .thumbnailImg{
    width: 100%;
}
.footer h1{
    font-family: 'ubuntu';
    color:#ffebcd;
    letter-spacing: 1.5px;
    font-weight: bold;
}
.footer .links{
    color: blanchedalmond;
}
.footer .links a{
    color: rgb(26, 26, 26);
    font-weight: bold;
}
.blanchedalmond{
    color: blanchedalmond;
}
.blanchedalmond a{
    color: blanchedalmond;
}
.blanchedalmond a:hover{
    color: rgb(34, 34, 34);
}

.afterFooter p{
    font-size: 12px;
}
.button1{
    background-color: none;
    border: 3px solid black;
    padding: 5% 8%;
    color:rgb(35, 134, 173);
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s;
}
.button1:hover,
.button1:active {
    color:blanchedalmond;
    text-decoration: none;
    background-color: rgb(34, 34, 34);
}

.top{
    background-color: rgba(45, 179, 241, 0.37);
}
.top .logo{
    width: 70px;
    border-radius: 50% ;
}
.top h1{
    font-family: 'ubuntu';
}
.loader{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    visibility: visible;
    top: 0%;
    position:fixed;
}
.benifits{
    background-color: blanchedalmond;
}
.myfile input{
    padding: 5px; 
    background-color: white !important;
    border: 1px solid rgb(209, 209, 209);
    border-radius:5px;
}
.ratings input{
    display: none;
}
.ratings label{
    color: rgb(7, 46, 65);
    float: right;
}
.ratings input:not(:checked) ~ label:hover,
.ratings input:not(:checked) ~ label:hover ~ label{
    color: rgb(15, 167, 238);
}
.ratings input:checked ~ label{
    color: rgb(15, 167, 238);
}
.ratings input#5:checked ~ label{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px #952;
}


/* button style */
.fancy {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    /* float: right; */
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
   }
   
   .fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: rgb(0, 0, 0);
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
   }
   
   .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
   }
   
   .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy:hover {
    color: rgb(22, 142, 189);
    background: black;
   }
   
   .fancy:hover::before {
    width: 0.9375rem;
    background: rgb(22, 142, 189);
   }
   
   .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
   }
   
   .fancy:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
   .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
   }

@media screen and (max-width: 600px) {
    .resText{
        font-size: 25px;
    }
    .popular h1{
        width: 100%;
    }
    .quickLinks{
        visibility: hidden;
        display: none;
    }
}