body{
    font-family: 'Source Sans Pro', sans-serif;
}
.head h1{
    font-family: 'ZCOOL QingKe HuangYou';
    letter-spacing: 1.6px;
    font-size: 42px;
}
.head p{
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1.1px;
}
.heading1{
    font-family: 'ZCOOL QingKe HuangYou';
    color: rgb(103, 6, 110);
    text-decoration: underline gold 3px;
}
.popular h1{
    font-family: 'Monoton', cursive;
    word-spacing: 5px;
    width: 65%;
    text-transform: capitalize;
}
.author{
    font-weight: 600;
}
.blog .thumbnailImg{
    width: 100%;
}
.footer h1{
    font-family: 'ZCOOL QingKe HuangYou';
    color: gold;
    letter-spacing: 1.5px;
}
.footer .links a{
    color: rgb(103, 6, 110);
    font-weight: bold;
}
.afterFooter p{
    font-size: 12px;
}
.quicklink{
    background-color: red !important;
}
.button1{
    background-color: none;
    border: 3px solid gold;
    padding: 5% 8%;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s;
}
.button1:hover,
.button1:active {
    color: black;
    text-decoration: none;
    background-color: gold;
}

